{% extends "@AustralAdmin/Layout/layout.html.twig" %}
{% block content %}
  {% apply spaceless %}
    {{ include("@AustralAdmin/Layout/Bandeau/top.html.twig") }}
    <div class="grid grid--no-gutters grid--container">
      <div class="row">
        <div class="col col--xs-12">

          {% if childrenModules is defined and childrenModules|length > 0 %}
          <{{ tag|default("li") == "li" ? "ul" : "div" }} class="row row-col--{{ nbTiles|default(4) }}">
          {% set color = 1 %}
          {% for element in childrenModules %}
            {% if element.isViewParentPage %}
              {% include "@AustralDesign/Components/Tile/tile.html.twig" with {
                tag:                tag|default("li"),
                color:              color,
                entitled:           element.parameters.domain|default(element.translatePlural),
                url:                element.generateUrl,
                subEntitled:        element.parameters.tile.subEntitled|default(null),
                img:                element.parameters.tile.img|default(null)
              } only %}
              {% set color = color + 1 %}
              {% if color > 6 %}{% set color = 1 %}{% endif %}
            {% endif %}
          {% endfor %}
        </{{ tag|default("li") == "li" ? "ul" : "div" }}>
        {% endif %}
      </div>
    </div>
    </div>
  {% endapply %}
{% endblock %}