<div id="field-form_austral_functionNameKey-content" class="field-content field-content-templateField view-element-by-choices element-view-function-name active">
  <div class="field field-template pd10">
    {{ field.vars.configVariable_functionBase }}.{{ form.mapper.object.functionName }}
  </div>
</div>